.blogDetailsSection {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.blogContent {
  width: 60%;
  margin-top: 40px;
  margin-bottom: 100px;
}

.blog__heading {
  font-size: 1.8rem;
  color: #0ca3e2;
  text-transform: uppercase;
}

@media (max-width: 500px) {
  .blogContent {
    width: 80%;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .blog__heading {
    font-size: 1.5rem;
  }
}
