html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(33, 33, 33);
  background: linear-gradient(
    90deg,
    rgba(33, 33, 33, 1) 0%,
    rgba(40, 40, 43, 1) 50%,
    rgba(33, 33, 33, 1) 100%
  );
  font-family: 'Anonymous Pro', monospace;
  font-family: 'Mr Dafoe', cursive;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body::-webkit-scrollbar {
  display: none;
}

#toTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
}

#toTopBtn:hover {
  font-weight: bold;
}

main {
  height: 60%;
}

.hero__container {
  max-width: fit-content;
  margin-left: 100px;
  margin-top: 100px;
}

.line1,
.line2 {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  font-family: 'Anonymous Pro', monospace;
  font-size: 4rem;
  line-height: 4.5rem;
}

.line1 {
  animation: typing1 1.7s steps(40, end) 0.5s 1 normal both;
}

.line2 {
  animation: typing2 1.7s steps(40, end) 0.5s 1 normal both;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

@keyframes typing1 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing2 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.heroParagraph {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
  animation: fade infinite 1s;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  visibility: hidden;
}

.heroParagraph__text {
  width: 60%;
  margin-left: 100px;
}

.aboutMeBtn__container {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fade infinite 1s;
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  visibility: hidden;
}

.projects__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

@keyframes fade {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

.fa-arrow-alt-circle-down,
.fa-github {
  font-size: 3rem;
  color: white;
  margin: 20px;
}

.iconify {
  font-size: 3rem;
}

#aboutMe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 500px;
}

.aboutMe__text {
  width: 70%;
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 100px;
}

#myProjects {
  width: 100%;
  margin-top: 300px;
  margin-bottom: 100px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: top;
}

.img__container {
  width: 60%;
  height: 350px;
  border-radius: 20px;
  border: solid 1px white;
  -webkit-box-shadow: 0 0 5px #b3b3b3;
  box-shadow: 0 0 5px #b3b3b3;
}

.projectsLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .line1,
  .line2 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .aboutMeBtn__container {
    margin-top: 350px;
  }

  .projects__container {
    margin-top: 350px;
  }
}

@media (max-width: 800px) {
  .line1,
  .line2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .hero__container,
  .heroParagraph__text {
    margin-left: 80px;
  }

  .aboutMeBtn__container {
    margin-top: 300px;
  }

  .aboutMe__text {
    font-size: 1.7rem;
  }

  .projects__container {
    margin-top: 200px;
  }

  .img__container {
    width: 65%;
    height: 300px;
  }
}

@media (max-width: 500px) {
  .line1,
  .line2 {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .line1 {
    animation: typing1 1s steps(40, end) 0.5s 1 normal both;
  }

  .line2 {
    animation: typing2 1s steps(40, end) 0.5s 1 normal both;
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
  }

  .hero__container {
    margin-top: 50px;
  }

  .heroParagraph {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }

  .hero__container,
  .heroParagraph__text {
    margin-left: 20px;
  }

  .heroParagraph__text {
    width: 80%;
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .aboutMeBtn__container {
    margin-top: 200px;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
  }

  h2 {
    font-size: 1.1rem;
  }

  .projects__container {
    margin-top: 150px;
  }
  .fa-arrow-alt-circle-down {
    font-size: 1.8rem;
  }

  .aboutMe__text {
    width: 85%;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .img__container {
    width: 80%;
    height: 200px;
  }

  h3 {
    font-size: 1.3rem;
  }

  .iconify,
  .fa-github {
    font-size: 2rem;
  }

  #toTopBtn {
    font-size: 0.9rem;
    right: 10px;
    bottom: 45px;
    background: rgb(33, 33, 33);
    background: linear-gradient(
      90deg,
      rgba(33, 33, 33, 1) 0%,
      rgba(40, 40, 43, 1) 50%,
      rgba(33, 33, 33, 1) 100%
    );
    border-radius: 5px;
  }
}

@media (max-width: 330px) {
  .line1,
  .line2 {
    font-size: 1.1rem;
    line-height: 2rem;
  }

  .aboutMeBtn__container {
    margin-top: 70px;
  }

  .aboutMe__text {
    font-size: 1.1rem;
  }

  .projects__container {
    margin-top: 50px;
  }

  .img__container {
    width: 85%;
    height: 180px;
  }

  h3 {
    font-size: 1.2rem;
  }
}
