html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: 'Anonymous Pro', monospace;
  font-family: 'Mr Dafoe', cursive;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: fit-content;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  height: 60%;
}

.hero__container {
  max-width: fit-content;
  margin-left: 100px;
  margin-top: 100px;
}

.line1,
.line2 {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  font-family: 'Anonymous Pro', monospace;
  font-size: 4rem;
  line-height: 4.5rem;
}

.line1 {
  animation: typing1 2s steps(40, end) 0.5s 1 normal both;
}

.line2 {
  animation: typing2 2s steps(40, end) 0.5s 1 normal both;
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}

@keyframes typing1 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing2 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.aboutMeBtn__container {
  width: 100%;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fade infinite 1s;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  visibility: hidden;
}

.projects__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

@keyframes fade {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

.fa-arrow-alt-circle-down,
.fa-github {
  font-size: 3rem;
  color: white;
  margin: 20px;
}

.iconify {
  font-size: 3rem;
}

#aboutMe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 500px;
}

.aboutMe__text {
  width: 70%;
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 100px;
}

#myProjects {
  width: 100%;
  margin-top: 250px;
  margin-bottom: 100px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: top;
}

.img__container1,
.img__container2,
.img__container3 {
  width: 60%;
  height: 350px;
  border-radius: 20px;
  border: solid 2px white;
}

/* .img__container1 {
  background-image: url(/img/Skjermbilde\ 2021-05-26\ kl.\ 12.10.41.png);
}

.img__container2 {
  background-image: url(/img/Skjermbilde\ 2021-06-01\ kl.\ 14.11.25.png);
}

.img__container3 {
  background-image: url(/img/Skjermbilde\ 2021-06-01\ kl.\ 14.12.21.png);
} */

.projectsLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .hero__text {
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  .hero__text {
    font-size: 1.3rem;
  }
}

@media (max-width: 500px) {
  .hero__text {
    font-size: 0.7rem;
  }

  .hero__container {
    margin-left: 20px;
  }
}
